<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" metadata-complete="false" version="2.5">
  <display-name>servletsexample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>src.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpActivity</display-name>
    <servlet-name>SignUpActivity</servlet-name>
    <servlet-class>src.SignUpActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpActivity</servlet-name>
    <url-pattern>/SignUpActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>src.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoard</display-name>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>src.DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/DashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFile</display-name>
    <servlet-name>SendFile</servlet-name>
    <servlet-class>src.SendFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFile</servlet-name>
    <url-pattern>/SendFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DnldFilee</display-name>
    <servlet-name>DnldFilee</servlet-name>
    <servlet-class>src.DnldFilee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DnldFilee</servlet-name>
    <url-pattern>/DnldFilee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tabs</display-name>
    <servlet-name>Tabs</servlet-name>
    <servlet-class>src.Tabs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tabs</servlet-name>
    <url-pattern>/Tabs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>src.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriend</display-name>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>src.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
</web-app>